# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project artifacts
*.pcap
*.pcapng
*.log

# Distribution
build/
dist/
*.egg-info/
*.egg